* {
  box-sizing: border-box;
  margin: auto;
  font-family: sans-serif, "Times New Roman", Times, serif;
  color: #ffffff;
  background-color: black;
}

body #main {
  margin: 20px;
}
body #main #car {
  width: 95%;
  height: 430px;
  border: 1px solid #bbbbbb;
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
}
body #main #car img {
  width: 100%;
  height: 420px;
}
body #main #title {
  font-size: 22px;
  padding-left: 30px;
}
body #main .rect {
  width: 97%;
  height: 7px;
  margin-bottom: 10px;
}
body #main .rect svg {
  width: 100%;
}
body #main .main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 98%;
  height: auto;
  margin: 10px;
  padding: 5px 10px 10px 10px;
}
body #main .main-grid .nested-grid {
  height: auto;
}
body #main .main-grid .nested-grid div {
  padding: 10px;
  width: 330px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body #main .main-grid .nested-grid div img {
  width: 330px;
  height: 270px;
  border: 1px solid #bbbbbb;
  padding: 3px;
}
@media only screen and (max-width: 400px) {
  body #main #car {
    height: 210px;
  }
  body #main #car img {
    width: 100%;
    height: 200px;
  }
  body #main #title {
    font-size: 17px;
    padding-left: 9px;
    font-weight: bold;
  }
  body #main .main-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 0px;
    padding: 2px;
  }
  body #main .main-grid .nested-grid div {
    padding: 5px;
    width: 100px;
    font-size: 10px;
  }
  body #main .main-grid .nested-grid div img {
    height: 80px;
    width: 95px;
    padding: 2px;
  }
}

/*# sourceMappingURL=styles.css.map */
