@mixin mobile {
    @media only screen and (max-width: 400px){
        #main{
            #car{
                height: 210px;
                img{
                    width: 100%;
                    height: 200px;
                }
            }
            #title{
                font-size: 17px;
                padding-left: 9px;
                font-weight: bold;
            }
            .main-grid{
                grid-template-columns: repeat(3, 1fr);
                margin: 0px;
                padding: 2px;
                .nested-grid{
                    div{
                        padding: 5px;
                        width: 100px;
                        font-size: 10px;
                        img{
                            height: 80px;
                            width: 95px;
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }
}

*{
    box-sizing: border-box;
    margin: auto;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: black;
}
body{
    #main{
        margin: 20px;

        #car{
            width: 95%;
            height: 430px;
            border: 1px solid #bbbbbb;
            margin-bottom: 20px;
            text-align: center;
            padding: 5px;

            img{
                width: 100%;
                height: 420px;
                // object-fit: cover;
            }
        }
        
        #title{
            font-size: 22px;
            padding-left: 30px;
        }
        .rect{
            width: 97%;
            height: 7px;
            margin-bottom: 10px;

            svg{
                width: 100%;
            }
        }
        .main-grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 98%;
            height: auto;
            margin: 10px;
            padding: 5px 10px 10px 10px;
    

            .nested-grid{
                height: auto;

                div{
                    padding: 10px;
                    width: 330px;
                    font-size: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    img{
                        width: 330px;
                        height: 270px;
                        border: 1px solid #bbbbbb;
                        padding: 3px;
                    }
                }
            }
        }
    }
    @include mobile();
}